/* IMPORTED STYLESHEET */

@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
	background-color: #fff;
	color: #4D638C;

}

main {
	margin: 0 0 1.325em;
	padding: 2em 2em 0 2em;
}

main h2 {
	color: #83A9EF;
}

h1 {
    font-family: 'Karla', sans-serif;
	margin: 0 0 0.25em;
	font-size: 1.125em;
	line-height: 1.25em;
	font-weight: 700;
	letter-spacing: 1px;
	color: #83a9ef;
	text-transform: uppercase;
}

h2, ul a {
    font-family: 'Karla', sans-serif;
	margin: 0 0 0.625em;
	font-size: 0.825em;
	font-weight: 700;
	line-height: 1.25em;
	text-transform: uppercase;
}


h3 {
    font-family: 'Karla', sans-serif;
	margin: 0 0 0.25em;
	font-size: 1.125em;
	line-height: 1.25em;
	font-weight: 700;
}

h4 {
    font-family: 'Karla', sans-serif;
	margin: 0 0 0.25em;
	font-size: .875em;
	line-height: 1.25em;
}

h5 {
    font-family: 'Karla', sans-serif;
	margin: 0 0 0.25em;
	font-size: .875em;
	line-height: 1.25em;
	color: #7f99b5;
}

p {
    font-family: 'Karla', sans-serif;
	font-size: 0.875em;
	line-height: 1.375em;
	margin: 0 0 0.625em;
}



main a {
    font-family: 'Karla', sans-serif;
	font-weight: 700;
	color: #4D638C;
	text-decoration-color: #83A9EF;
	-webkit-text-underline-position: under;
	-ms-text-underline-position: below;
	text-underline-position: under;
}

a:hover {
  	color: #83A9EF;
  	transition: color .2s;
  	-webkit-transition: color .2s;
  	text-decoration-color: #83A9EF;
}


header a {

	font-size: .875em;

}

header, aside {
	margin: 0 0 1.125em;
}


header li {
	display: inline-block;
	margin: 0 10px 8px 0;
	font-size: .875em;
}

header li:nth-last-of-type(1) {
	background: #eef4ff;
	padding: 4px 8px;
}

article {
		margin: 0 0 .675em;
}

footer{
	font-size: .975em;
	background: #eef4ff;
	padding: 1.625em 2em;
}

footer p:nth-last-of-type(1) {
	font-size: .625em;
}

img {
	max-width: 100%;
}


/* CSS GRID */

.grid-container {
	  display: grid;
	  grid-template-columns: 1.75fr 1fr;
	  grid-template-rows: 20% auto;
	  grid-column-gap: 3.125em;
	  max-width: 800px;
}

header {
	grid-column: 1 / 3;
	margin: 0 0 1.825em;
}

header a {
	text-decoration: none;
}

aside article, {
	margin: 0 0 1.625em;
}


aside article:last-of-type(1) {
	margin: 0;
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  .grid-container {
   		 display: block;
	}
	
	header {
		font-size: large;
	}

	section {
		margin: 0 0 1.625em;
	}
}

@media only screen and (max-width: 300px) {
 header li {
		display: block;
		margin: 0 0 10px;
	}
}
