@charset "UTF-8";

/* BOX SIZING */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding:0;
}


#wrapper {
	width:600px;
	margin:0 auto 0 auto;
}

body {
	background:#B28053 url(../images/background2.jpg) no-repeat center center;
}



#first-column, #second-column {
	
	float:left;
}


a {
	
	font-weight: 900;
	text-decoration: none;

}

a:hover {

	text-decoration: underline;

}

body#minato-page a {

	color: #95875d;
}

body#itabashi-page a {

	color: #be915f;
}


body#taito-page a {

	color: #be915f;
}

/*----------------
HOME AND MINATO BOX
-----------------*/




#home {
	
	height:300px;
	width:300px;
	background:#D9C064;
	margin-top:300px;

}



#minato {
	
	height:300px;
	width:300px;
	background:#95875D url(../images/Minato-icon.png) no-repeat center center;
	background-size: 42%;

}



/*----------------
ITABASHI AND WASEDA BOX
-----------------*/



#itabashi {
	
	height:300px;
	width:300px;
	margin-top:300px;
	background:#c78056 url(../images/Itabashi-icon.png) no-repeat center center;
	background-size: 50%;
	

}




#taito {
	
	height:300px;
	width:300px;
	background:#be915f url(../images/Taito-icon.png) no-repeat center center;
	background-size: 42%;
}


/*----------------
MENU HOVER
-----------------*/

#taito:hover {
	
  	background: rgba(48,58,104,0.9);	
	

}

#taito:visited{
	
background: url(../images/visited-taito.png) no-repeat center center;
	
	

}


#taito:hover p {
	
	display:block;
	
}


#minato:hover {
	
	background: rgba(48,58,104,0.9);	


}

div#minato:hover p {
	
	display:block;
	
}

#itabashi:hover {
	
	background: rgba(48,58,104,0.9);	


}

#itabashi:hover p {
	
	display:block;
	
}


/*----------------
MENU TYPE
-----------------*/


#minato, #itabashi, #taito p {
	
	font-family: 'Patrick Hand', cursive;
	font-size:52px;
	color:#CCC;
	
	
}
	
	
#home p {
	
	font-family: 'Patrick Hand', cursive;
	font-size:52px;
	margin:0 0 0 9px;
	color:#5D5D5D;
	float:left;
	line-height:56px;
}

#home p.japanese {
  line-height: 61px;
}

#home p.japanese-two {
  margin-left: -7px;
  margin-top: 5px;
}


#itabashi p, #taito p {
	float:right;
	display:none;
	
}

#minato p {
	
	display:none;
	
}

#itabashi p.japanese {
	
	padding-left: 8px;
  	line-height: 61px;
	padding-top: 10px;
}

	


#taito p.japanese {
  margin-top: 111px;
  line-height: 61px;
  margin-right: 0px;
}

#taito p {
  float: right;
  margin-top: 228px;
  margin-right: 10px;
}




#minato p {
	
   margin-left: 12px;

	
}

#minato p.japanese {
  padding-top: 115px;
  line-height: 61px;
  margin-bottom: -8px;
}




.japanese p {
	
	font-family: 'Noto Sans', sans-serif;
	text-align:center;

	
}



/*-----------------------------------------------------------
SUBPAGES MENU
------------------------------------------------------------*/



#menu {
	
	width:200px;
	margin-left: 20px;

}

#menu-first-column, #menu-second-column {
	
	float:left;
}

#menu-home {
	
	
	height:100px;
	width:100px;
	background:url(../images/menu-home.png) no-repeat center center;
	margin-top: 20px;

}

#menu-minato {
	
	height:100px;
	width:100px;
	background:#95875D url(../images/menu-minato.png) no-repeat center center;


}


#menu-itabashi {
	
	height:100px;
	width:100px;
	margin-top: 20px;
	background:#c78056 url(../images/menu-itabashi.png) no-repeat center center;
	

}


#menu-taito {
	
	height:100px;
	width:100px;
	background:#be915f url(../images/menu-taito.png) no-repeat center center;

}

#menu-taito:hover {
	
	opacity:0.7;
	background:#303A68;
	
	

}

#menu-taito:hover p {
	
	display:block;
	
}

#menu-minato:hover {
	
	background:#303A68;
	opacity:0.7;

}

div#menu-minato:hover p {
	
	display:block;
	
}

#menu-itabashi:hover {
	
	background:#303A68;
	opacity:0.7;

}

#menu-itabashi:visited {
	
	

}

#menu-itabashi:hover p {
	
	display:block;
	
}



/*-----------------------------------------------------------
ALL SUBPAGES
------------------------------------------------------------*/
#header {
	height:auto;
	width:100%;
	float:left;
	margin:0 auto;
	padding-bottom: 6%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;



}

#intro {
	
	margin: 100px 50px 100px 50px;
}


#introduction p#heading {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 80px;
  margin-top: 22%;
  color: #FFF;
  margin-bottom: -53px;
}

#introduction p#description {
  text-align: center;
  font-family: 'Gudea', serif;
  font-size: 30px;
  margin: 1% 6% auto 6%;
  color: #FFF;
  opacity: 0.9;
}

#introduction p#dash {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 50px;
  color: #FFF;
  opacity: 0.9;
}



<!---->

#stats {
	
	height:600px;
	width:100%;
	background:#999;
	float:left;
}

<!---->

	

#area {
	
	background:#dce1e9;
	height:300px;
	width:25%;
	float:left;
}

#area p#number {
	font-size:85px;
	text-align:center;
	margin-top:50px;
	font-family: 'Patrick Hand', cursive;
	color:#526d89;

}

#area p#unit {
	font-size:60px;
	text-align:center;
	font-family: 'Gudea', sans-serif;
	color:#526d89;

}

#icon {
	
	background:#6482aa url(../images/bike-icon.png) no-repeat center center;
	height:300px;
	width:25%;
	float:left;
}

#fun-fact {
	
	background:#526d89;
	height:300px;
	width:50%;
	float:left;
}

#fun-fact p#fun-fact-text {
	
	font-size:28px;
	text-align:left;
	font-family: 'Gudea', sans-serif;
  	margin: 11% 11% auto 11%;
	line-height: 40px;
	color:#FFF;
	opacity:0.9;
	
}

#map {
	
	background:#7e9fd2 url(../images/map-itabashi.png) no-repeat center center;
	height:300px;
	width:50%;
	float:left;

}

#stats a:hover #map{

	opacity: 0.7;
}


#flagpop {
	
	width:50%;
	float:right;
	
}

#flag {
  background: #6482aa url(../images/flag-itabashi.png) no-repeat;
  background-position-y: 40px;
  background-position-x: center;
  height: 300px;
  width: 50%;
  float: left;

 
}

#flag p {
  font-family: 'Gudea', sans-serif;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-top: 210px;
  color:#455c75;
}

#population {
	
	background:#dce1e9;
	height:300px;
	width:50%;
	float:left;
}

#population p#text {
	
	font-family: 'Gudea', sans-serif;
	font-style:italic;
	font-size:53px;
	text-align:center;
	margin-top:50px;
	color:#526d89;
	
}

#population p#number {
	
	font-family: 'Patrick Hand', cursive;
	font-size:85px;
	text-align:center;
	color:#526d89;

	
}

<!---->

#focus {
	
	height:auto;
	width:100%;
	float:left;
	
}

body#itabashi-page #focus {

	background:#bf7b58;
}

body#minato-page #focus {

	background:#95875D;
}

body#taito-page #focus {

	background:#b28053;
}


<!---->


#focus-title {
	
	
	height:auto;
	width:100%;
	
}

#focus-image {
	
	height:auto;
	width:100%;
	
}

#focus-image img {
	
	height:auto;
	width:100%;

}

#focus-title p {
	
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	font-weight:200;
	color:#FFF;
	text-align:center;
	padding: 7px 7px;
}

#focus-text {
  height: auto;
  width: 100%;
  overflow: auto;
  background: #e6e7e8;
  margin: 0 auto;
  padding: 60px 5% 60px 5%;
}



#left-text, #right-text {
  height: auto;
  width: 48%;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-right: 2%;
  font-weight: 300;
}




/*-----------------------------------------------------------
ITABASHI
------------------------------------------------------------*/
body#itabashi-page {
	background:#bf7b58;
	
}

body#itabashi-page #focus-title {
		background:#bf7b58;
}


body#itabashi-page #header {
	background:#bf7b58 url(../images/banner-itabashi.png) no-repeat center center;
	background-color:#bf7b58;


}

/*-----------------------------------------------------------
MINATO
------------------------------------------------------------*/

body#itabashi-page {
	background:#95875D;
	
}


body#minato-page #focus-title {
	background:#95875D;
	
	
}

body#minato-page #header {
	background:#95875D url(../images/banner-minato.png) no-repeat center center;
	background-color:#95875D;

}

body#minato-page #icon {
	
	background:#6482aa url(../images/tower-icon.png)  no-repeat center center;
	height:300px;
	width:25%;
	float:left;
}

body#minato-page #map {
	
	
	background:#7e9fd2 url(../images/map-minato.png) no-repeat center center;
	height:300px;
	width:50%;
	float:left;
}


body#minato-page #flag {
	

  background: #6482aa url(../images/flag-minato.png) no-repeat;
  background-position-y: 55px;
  background-position-x: center;
  height: 300px;
  width: 50%;
  float: left;
 
}

body#minato-page #flagpop {
	
	width:50%;
	float:right;
	
}


/*-----------------------------------------------------------
TAITO
------------------------------------------------------------*/
body#taito-page #focus-title {
	background:#B28053;
	
}


body#taito-page #header {
	background:#bf7b58  url(../images/banner-taito.png) no-repeat center center;
	background-color:#959173;
}

body#taito-page #icon {
	
	background:#6482aa url(../images/flower-icon.png)  no-repeat center center;
	height:300px;
	width:25%;
	float:left;
}

body#taito-page #map {
	
	
	background:#7e9fd2 url(../images/map-taito.png) no-repeat center center;
	height:300px;
	width:50%;
	float:left;
}


body#taito-page #flag {
	

  background: #6482aa url(../images/flag-taito.png) no-repeat;
  background-position-y: 55px;
  background-position-x: center;
  height: 300px;
  width: 50%;
  float: left;

 
}

body#minato-page #flagpop {
	width:50%;
	float:right;
}



/*-----------------------------------------------------------
RESPONSIVE MEDIA QUERIES
------------------------------------------------------------*/

/* SUB PAGE At 960 px width */

@media screen and (max-width:960px) {


/*Subpage heading*/


#menu {
  width: 200px;
  overflow: auto;
  margin: 0 auto;
}

#introduction p#heading {
	margin-top: 30px;
}

#fun-fact {
height: auto;
padding-bottom: 9%;
}

#fun-fact p#fun-fact-text {
  font-size: 24px;
  line-height: 34px;
}

#focus-text {
padding: 5% 5% 5% 5%;
}

/*Subpage stats: Itabashi*/

#area {
  width: 50%;
 }

#icon {
  width: 50%;
 }
#fun-fact {
  width: 100%;
}

#map {
  width: 100%;
}
#flag {
  width: 50%;
}
#population {
  width: 50%;
}


/*Subpage stats: Taito*/

body#taito-page #area {
  width: 50%;
 }

body#taito-page #icon {
  width: 50%;
 }
body#taito-page #fun-fact {
  width: 100%;
}

body#taito-page #map {
  width: 100%;
}
body#taito-page #flag {
  width: 50%;
}
body#taito-page #population {
  width: 50%;
}

body#taito-page #stats {
  height: auto;
}

body#taito-page #flagpop {
	
	float:right;
	width:100%;
	
}

/*Subpage stats: Minato*/

body#minato-page #area {
  width: 50%;
 }

body#minato-page #icon {
  width: 50%;
 }
body#minato-page #fun-fact {
  width: 100%;
}

body#minato-page #map {
  width: 100%;
}
body#minato-page #flag {
  width: 50%;
}
body#minato-page #population {
  width: 50%;
}
body#minato-page #left-text {
  width: 100%;
  font-size: 21px;
  margin: 0 2%;
}
body#minato-page #right-text {
  width: 100%;
  font-size: 21px;
  margin: 0 2%;
}
body#minato-page #stats {
  height: auto;
}

body#minato-page #flagpop {
	
	float:right;
	width:100%;
	
}

/*----------------------------------*/


/*Subpage icons*/
	
#flag {
  background-size:144px;
}
body#taito-page #flag {
  background-size:144px;
  background-position-y: 35px;
}
body#minato-page #flag {
  background-size:144px;
}

#icon {
  background-size:144px;
}
body#taito-page #icon {
  background-size:144px;
}

body#minato-page #icon {
  background-size:75px;
}

#stats {
  height: auto;
}

#flagpop {
	
	float:right;
	width:100%;
	
}

/*----------------------------------*/


/*Subpage text size*/

#introduction p#heading {
	
	font-size:60px;
}
#introduction p#description {
	font-size:25px;
}

#left-text , #right-text {
  width: 100%;
  font-size: 20px;
  margin: 0 2% 20px 2%;
}


body#taito-page #left-text {
  width: 100%;
  font-size: 21px;
  margin: 0 2% 20px 2%;
}

body#taito-page #right-text {
  width: 100%;
  font-size: 21px;
margin: 0 2% 20px 2%;
	
}
	
	
body#minato-page #left-text {
  width: 100%;
  font-size: 21px;
  margin: 0 2% 20px 2%;
}

body#minato-page #right-text {
  width: 100%;
  font-size: 21px;
margin: 0 2% 20px 2%;
	
}

}

/*----------------------------------*/

@media screen and (max-width:500px) {
	
#introduction p#description {
font-size: 23px;
}
	
#population p#text {
  font-size: 43px;
   margin-top: 72px;
}


#population p#number {
  font-size: 75px;
}

#focus-title {
  height: auto;
  width: 100%;
  padding: 2% 0px;
}

#focus-title p {
  font-size: 24px;
}

/*----------------------------------*/


/* HOME PAGE At 690 px width */

@media screen and (max-width:690px) {
	
	

	#home, #minato, #taito, #itabashi {
		
		width:100%;
		height:0;
		padding-bottom:100%;
		
	}
	
	#home p.japanese {
	  line-height: 53px;
	  margin-top: 4px;
	}
	
	#home p.japanese-two {
	  margin-left: -5px;
	  margin-top: 6px;
	}
	
	#second-column, #first-column {
		
		width:50%;
	}
	
	#home p {
		
		font-size:49px;
	}
	
	#itabashi p {
		
		font-size:49px;
	}
	
	#minato p {
		
		font-size:49px;
	}
	
	#taito p {
		
		font-size:49px;
	}
	
	#wrapper {
		
		width:86%;
		margin: 0 7%;
	}
	
	#taito p {
	  float: right;
	  margin-top: 216px;
	  margin-right: 10px;
	}
	
	#taito p.japanese {
  margin-top: 97px;
  line-height: 60px;
  margin-right: 0px;
	}
	
	#minato p.japanese {
  padding-top: 101px;
  line-height: 61px;
  margin-bottom: -8px;
	}
	
	
}


/* HOME PAGE at 650 px width  */

@media screen and (max-width:650px) {

	#home, #minato, #taito, #itabashi {
		
		width:100%;
		height:0;
		padding-bottom:100%;
		
	}
	
	#second-column, #first-column {
		
		width:50%;
	}
	
	#wrapper {
		
		width:86%;
		margin: 0 7%;
	}
	
	
	#home p {
		
		font-size:45px;
		line-height: 53px;
	}
	
	
	#home p.japanese-two {
	  margin-left: -5px;
	  margin-top: 6px;
	}
	
	#home p.japanese {
	  line-height: 48px;
	  margin-top: 3px;
	}
	
	#taito p {
  float: right;
  margin-top: 191px;
  margin-right: 10px;
	}
  
  #taito p.japanese {
  margin-top: 71px;
  line-height: 60px;
  margin-right: 0px;
}

#minato p.japanese {
  padding-top: 77px;
  line-height: 61px;
  margin-bottom: -8px;
}
	


/* At 600 px width  */

@media screen and (max-width:600px) {

	
	#home, #minato, #taito, #itabashi {
		
		width:100%;
		height:0;
		padding-bottom:100%;
		
	}
	
	#second-column, #first-column {
		
		width:50%;
	}
	
	#wrapper {
		
		width:86%;
		margin: 0 7%;
	}
	
	
	#home p {
  font-size: 41px;
  line-height: 44px;
  margin-top: 4px;
}

#home p.japanese {
  line-height: 47px;
  margin-top: 3px;
}

#home p.japanese-two {
  margin-left: -5px;
  margin-top: 4px;
  line-height: 41px;
}

#minato p {
  font-size: 44px;
}

#minato p.japanese {
  padding-top: 75px;
  line-height: 54px;
  margin-bottom: -8px;
}
#itabashi p {
  font-size: 44px;
}
#itabashi p.japanese {
  padding-left: 7px;
  line-height: 54px;
  padding-top: 10px;
}
#taito p {
  float: right;
  margin-top: 175px;
  margin-right: 10px;
  font-size: 44px;
}
#taito p.japanese {
  margin-top: 69px;
  line-height: 54px;
  margin-right: 0px;
}
	
	
}


/* At 550 px width  */

@media screen and (max-width:550px) {

	
	#home, #minato, #taito, #itabashi {
		
		width:100%;
		height:0;
		padding-bottom:100%;
		
	}
	
	#second-column, #first-column {
		
		width:50%;
	}
	
	#wrapper {
		
		width:86%;
		margin: 0 7%;
	}
	
	
	#home p {
  font-size: 35px;
  line-height: 39px;
  margin-top: 6px;
}

#home p.japanese {
  line-height: 40px;
  margin-top: 3px;
}

#home p.japanese-two {
  margin-left: -5px;
  margin-top: 2px;
  line-height: 41px;
}

#minato p {
  font-size: 40px;
}

#minato p.japanese {
  padding-top: 66px;
  line-height: 50px;
  margin-bottom: -8px;
}
#itabashi p {
  font-size: 40px;
}
#itabashi p.japanese {
  padding-left: 7px;
  line-height: 50px;
  padding-top: 6px;
}
#taito p {
  float: right;
  margin-top: 157px;
  margin-right: 10px;
  font-size: 40px;
}
#taito p.japanese {
  margin-top: 57px;
  line-height: 50px;
  margin-right: 0px;
}
	
	
}


/* At 500 px width  */

@media screen and (max-width:500px) {

	
	#home, #minato, #taito, #itabashi {
		
		width:100%;
		height:0;
		padding-bottom:100%;
		
	}
	
	#second-column, #first-column {
		
		width:50%;
	}
	
	#wrapper {
		
		width:86%;
		margin: 0 7%;
	}
	
	
	#home p {
  font-size: 33px;
  line-height: 37px;
  margin-top: 6px;
}

#home p.japanese {
  line-height: 34px;
  margin-top: 3px;
}

#home p.japanese-two {
  margin-left: -5px;
  margin-top: 3px;
  line-height: 34px;
}

#minato p {
  font-size: 35px;
}

#minato p.japanese {
  padding-top: 66px;
  line-height: 42px;
  margin-bottom: -8px;
}
#itabashi p {
  font-size: 35px;
}
#itabashi p.japanese {
  padding-left: 7px;
  line-height: 42px;
  padding-top: 7px;
}
#taito p {
  float: right;
  margin-top: 142px;
  margin-right: 10px;
  font-size: 35px;
}
#taito p.japanese {
  margin-top: 60px;
  line-height: 42px;
  margin-right: 0px;
}
	
	
}

/* At 450 px width  */

@media screen and (max-width:500px) {

	
	#home, #minato, #taito, #itabashi {
		
		width:100%;
		height:0;
		padding-bottom:100%;
		
	}
	
	#second-column, #first-column {
		
		width:50%;
	}
	
	#wrapper {
		
		width:86%;
		margin: 0 7%;
	}
	
	
	#home p {
  font-size: 29px;
  line-height: 33px;
  margin-top: 6px;
}

#home p.japanese {
  line-height: 30px;
  margin-top: 3px;
}

#home p.japanese-two {
  margin-left: -5px;
  margin-top: 3px;
  line-height: 30px;
}

#minato p {
  font-size: 30px;
}

#minato p.japanese {
  padding-top: 64px;
  line-height: 36px;
  margin-bottom: -8px;
}
#itabashi p {
  font-size: 30px;
}
#itabashi p.japanese {
  padding-left: 7px;
  line-height: 36px;
  padding-top: 5px;
}
#taito p {
  float: right;
  margin-top: 128px;
  margin-right: 10px;
  font-size: 30px;
}
#taito p.japanese {
  margin-top: 58px;
  line-height: 36px;
  margin-right: 0px;
}
	